{
  "schemes": ["https"],
  "swagger": "2.0",
  "info": {
    "description": "API documentation for Stock Management System with multi-tenant support",
    "title": "Stock Management API",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "name": "API Support",
      "email": "support@transtrack.co"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "1.0"
  },
  "host": "ttsm.arnatech.id",
  "basePath": "/",
  "paths": {
    "/api/v1/auth/login": {
      "post": {
        "description": "Login with email and password. Data is protected by HTTPS/TLS encryption in transit.",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Auth"],
        "summary": "Login user",
        "parameters": [
          {
            "description": "Login credentials",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/auth.LoginRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/auth.LoginResponse"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/auth/password": {
      "put": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Update current user password",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Auth"],
        "summary": "Update user password",
        "parameters": [
          {
            "description": "Password update data",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/auth.UpdatePasswordRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/auth/refresh-token": {
      "post": {
        "description": "Refresh access token using refresh token",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Auth"],
        "summary": "Refresh access token",
        "parameters": [
          {
            "description": "Refresh token data",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/auth.RefreshTokenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/auth.RefreshTokenResponse"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/auth/register": {
      "post": {
        "description": "Register a new user account. If company data is provided, a new company will be created and the user will be assigned as Admin. If no company data is provided, the user will be created without a company and must be invited to join a company.",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Auth"],
        "summary": "Register a new user",
        "parameters": [
          {
            "description": "Registration data (company is optional)",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/auth.RegisterRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/auth.RegisterResponse"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/auth/session": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get current user session information",
        "produces": ["application/json"],
        "tags": ["Auth"],
        "summary": "Get current session",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/auth.SessionResponse"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/companies": {
      "get": {
        "description": "Get a paginated list of companies. This endpoint is public and does not require authentication.",
        "produces": ["application/json"],
        "tags": ["Company"],
        "summary": "List all companies",
        "parameters": [
          {
            "type": "integer",
            "default": 1,
            "description": "Page number",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 10,
            "description": "Items per page",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Search value",
            "name": "search_value",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Create a new company",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Company"],
        "summary": "Create a new company",
        "parameters": [
          {
            "description": "Company data",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/company.CreateCompanyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/companies/{id}": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get details of a specific company",
        "produces": ["application/json"],
        "tags": ["Company"],
        "summary": "Get company by ID",
        "parameters": [
          {
            "type": "string",
            "description": "Company ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Update an existing company",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Company"],
        "summary": "Update a company",
        "parameters": [
          {
            "type": "string",
            "description": "Company ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "description": "Updated company data",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/company.UpdateCompanyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Delete a company by ID",
        "produces": ["application/json"],
        "tags": ["Company"],
        "summary": "Delete a company",
        "parameters": [
          {
            "type": "string",
            "description": "Company ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/dashboard/facility-stock": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get stock summary per facility",
        "produces": ["application/json"],
        "tags": ["Dashboard"],
        "summary": "Get facility stock summary",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/dashboard.FacilityStockResponse"
                      }
                    }
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/dashboard/overview": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get overview statistics for the dashboard. Optionally filter by facility using query parameter.",
        "produces": ["application/json"],
        "tags": ["Dashboard"],
        "summary": "Get dashboard overview",
        "parameters": [
          {
            "type": "string",
            "description": "Facility ID to filter metrics by specific facility",
            "name": "facility_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/dashboard.DashboardOverviewResponse"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/dashboard/stock-distribution": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get stock distribution across all warehouses with percentages",
        "produces": ["application/json"],
        "tags": ["Dashboard"],
        "summary": "Get stock distribution per warehouse",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/dashboard.StockDistributionResponse"
                    }
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/dashboard/stock-movement": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get daily stock movement for the last N days",
        "produces": ["application/json"],
        "tags": ["Dashboard"],
        "summary": "Get stock movement chart data",
        "parameters": [
          {
            "type": "integer",
            "default": 7,
            "description": "Number of days",
            "name": "days",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/dashboard.StockMovementResponse"
                      }
                    }
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/dashboard/top-inbound": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get top products by inbound quantity",
        "produces": ["application/json"],
        "tags": ["Dashboard"],
        "summary": "Get top inbound products",
        "parameters": [
          {
            "type": "integer",
            "default": 10,
            "description": "Limit",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/dashboard.TopProductResponse"
                      }
                    }
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/dashboard/top-moving-skus": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get top moving SKUs based on transaction activity over specified period",
        "produces": ["application/json"],
        "tags": ["Dashboard"],
        "summary": "Get top moving SKUs",
        "parameters": [
          {
            "type": "integer",
            "default": 30,
            "description": "Number of days",
            "name": "days",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 10,
            "description": "Limit",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/dashboard.TopMovingSKUResponse"
                      }
                    }
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/dashboard/top-outbound": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get top products by outbound quantity",
        "produces": ["application/json"],
        "tags": ["Dashboard"],
        "summary": "Get top outbound products",
        "parameters": [
          {
            "type": "integer",
            "default": 10,
            "description": "Limit",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/dashboard.TopProductResponse"
                      }
                    }
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/facilities": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get a paginated list of facilities",
        "produces": ["application/json"],
        "tags": ["Facility"],
        "summary": "List all facilities",
        "parameters": [
          {
            "type": "string",
            "description": "Search by code or name",
            "name": "search",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by status (active/inactive)",
            "name": "status",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 1,
            "description": "Page number",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 10,
            "description": "Items per page",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/facility.ListFacilityResponse"
                    }
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Create a new warehouse/facility",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Facility"],
        "summary": "Create a new facility",
        "parameters": [
          {
            "description": "Facility data",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/facility.CreateFacilityRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/facility.FacilityResponse"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/facilities/{facility_id}/skus": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get all SKUs assigned to a facility, optionally filtered by search term",
        "produces": ["application/json"],
        "tags": ["Facility SKU"],
        "summary": "List SKUs assigned to facility",
        "parameters": [
          {
            "type": "string",
            "description": "Facility ID",
            "name": "facility_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Search by SKU name, SKU code, or description",
            "name": "search",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/facility_sku.FacilitySKUResponse"
                      }
                    }
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Assign a SKU to a facility with threshold",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Facility SKU"],
        "summary": "Assign SKU to facility",
        "parameters": [
          {
            "type": "string",
            "description": "Facility ID",
            "name": "facility_id",
            "in": "path",
            "required": true
          },
          {
            "description": "Assignment data",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/facility_sku.AssignSKURequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/facility_sku.FacilitySKUResponse"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/facilities/{facility_id}/skus/{sku_id}": {
      "put": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Update low stock threshold for a SKU in facility",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Facility SKU"],
        "summary": "Update SKU threshold in facility",
        "parameters": [
          {
            "type": "string",
            "description": "Facility ID",
            "name": "facility_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "SKU ID",
            "name": "sku_id",
            "in": "path",
            "required": true
          },
          {
            "description": "Threshold data",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/facility_sku.UpdateThresholdRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/facility_sku.FacilitySKUResponse"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Remove SKU assignment from facility",
        "produces": ["application/json"],
        "tags": ["Facility SKU"],
        "summary": "Unassign SKU from facility",
        "parameters": [
          {
            "type": "string",
            "description": "Facility ID",
            "name": "facility_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "SKU ID",
            "name": "sku_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/facilities/{facility_id}/vehicles": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get all vehicles registered to a specific facility",
        "produces": ["application/json"],
        "tags": ["Vehicle"],
        "summary": "List vehicles by facility",
        "parameters": [
          {
            "type": "string",
            "description": "Facility ID",
            "name": "facility_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/vehicle.VehicleResponse"
                      }
                    }
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/facilities/{id}": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get details of a specific facility",
        "produces": ["application/json"],
        "tags": ["Facility"],
        "summary": "Get facility by ID",
        "parameters": [
          {
            "type": "string",
            "description": "Facility ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/facility.FacilityResponse"
                    }
                  }
                }
              ]
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Update an existing facility",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Facility"],
        "summary": "Update a facility",
        "parameters": [
          {
            "type": "string",
            "description": "Facility ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "description": "Updated facility data",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/facility.UpdateFacilityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/facility.FacilityResponse"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Delete a facility (only if no stock exists)",
        "produces": ["application/json"],
        "tags": ["Facility"],
        "summary": "Delete a facility",
        "parameters": [
          {
            "type": "string",
            "description": "Facility ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/import/sku-facility-sku": {
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Import SKU and their facility assignments from a single CSV file",
        "consumes": ["multipart/form-data"],
        "produces": ["application/json"],
        "tags": ["Import"],
        "summary": "Import SKU and Facility SKU from CSV",
        "parameters": [
          {
            "type": "file",
            "description": "CSV file",
            "name": "file",
            "in": "formData",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/importdata.ImportResult"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/import/stock-adjustment": {
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Import stock adjustments from CSV file",
        "consumes": ["multipart/form-data"],
        "produces": ["application/json"],
        "tags": ["Import"],
        "summary": "Import Stock Adjustment from CSV",
        "parameters": [
          {
            "type": "file",
            "description": "CSV file",
            "name": "file",
            "in": "formData",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/importdata.ImportResult"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/roles": {
      "get": {
        "description": "Get a paginated list of all roles from all companies. This endpoint is public and read-only (for reference only, no create/update/delete operations allowed).",
        "produces": ["application/json"],
        "tags": ["Role"],
        "summary": "List all roles (Reference only)",
        "parameters": [
          {
            "type": "integer",
            "default": 1,
            "description": "Page number",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 10,
            "description": "Items per page",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Search value",
            "name": "search_value",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/roles/{id}": {
      "get": {
        "description": "Get details of a specific role. This endpoint is public and read-only (for reference only).",
        "produces": ["application/json"],
        "tags": ["Role"],
        "summary": "Get role by ID (Reference only)",
        "parameters": [
          {
            "type": "string",
            "description": "Role ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/skus": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get a paginated list of SKUs",
        "produces": ["application/json"],
        "tags": ["SKU"],
        "summary": "List all SKUs",
        "parameters": [
          {
            "type": "string",
            "description": "Search by SKU code or name",
            "name": "search",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by status (active/inactive)",
            "name": "status",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 1,
            "description": "Page number",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 10,
            "description": "Items per page",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/sku.ListSKUResponse"
                    }
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Create a new Stock Keeping Unit",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["SKU"],
        "summary": "Create a new SKU",
        "parameters": [
          {
            "description": "SKU data",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/sku.CreateSKURequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/sku.SKUResponse"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/skus/{id}": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get details of a specific SKU",
        "produces": ["application/json"],
        "tags": ["SKU"],
        "summary": "Get SKU by ID",
        "parameters": [
          {
            "type": "string",
            "description": "SKU ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/sku.SKUResponse"
                    }
                  }
                }
              ]
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Update an existing SKU",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["SKU"],
        "summary": "Update an SKU",
        "parameters": [
          {
            "type": "string",
            "description": "SKU ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "description": "Updated SKU data",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/sku.UpdateSKURequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/sku.SKUResponse"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Delete an SKU (only if no stock exists)",
        "produces": ["application/json"],
        "tags": ["SKU"],
        "summary": "Delete an SKU",
        "parameters": [
          {
            "type": "string",
            "description": "SKU ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/stock/adjustments": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get adjustment transactions (ADJUST_IN/ADJUST_OUT), optionally filtered by facility_sku or facility. Includes before/after stock if available in notes",
        "produces": ["application/json"],
        "tags": ["Stock Transaction"],
        "summary": "List stock adjustments",
        "parameters": [
          {
            "type": "string",
            "format": "uuid",
            "description": "Filter by Facility SKU ID",
            "name": "facility_sku_id",
            "in": "query"
          },
          {
            "type": "string",
            "format": "uuid",
            "description": "Filter by Facility ID",
            "name": "facility_id",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 1,
            "description": "Page number",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 10,
            "description": "Items per page",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/stock.ListStockAdjustmentResponse"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/stock/on-hand": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get current stock balance across facilities with detailed information including SKU code, name, category, warehouse, quantity, unit of measure, min/max stock, status, and last movement date",
        "produces": ["application/json"],
        "tags": ["Stock Balance"],
        "summary": "List on-hand stock",
        "parameters": [
          {
            "type": "string",
            "description": "Filter by facility",
            "name": "facility_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by SKU",
            "name": "sku_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by status (available/low/out_of_stock/overstock)",
            "name": "status",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 1,
            "description": "Page number",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 10,
            "description": "Items per page",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/stock.ListOnHandStockResponse"
                    }
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/stock/on-hand/download": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Download current stock balance as Excel file with the same filters as list endpoint",
        "produces": [
          "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
        ],
        "tags": ["Stock Balance"],
        "summary": "Download on-hand stock as Excel",
        "parameters": [
          {
            "type": "string",
            "description": "Filter by facility",
            "name": "facility_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by SKU",
            "name": "sku_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by status (available/low/out_of_stock/overstock)",
            "name": "status",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "file"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/stock/transactions": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get a paginated list of stock transactions",
        "produces": ["application/json"],
        "tags": ["Stock Transaction"],
        "summary": "List stock transactions",
        "parameters": [
          {
            "type": "string",
            "description": "Filter by transaction type",
            "name": "trx_type",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter from date (YYYY-MM-DD)",
            "name": "date_from",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter to date (YYYY-MM-DD)",
            "name": "date_to",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by facility",
            "name": "facility_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by SKU",
            "name": "sku_id",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 1,
            "description": "Page number",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 10,
            "description": "Items per page",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/stock.ListStockTransactionResponse"
                    }
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Create a new stock transaction (IN/OUT/ADJUST). Purpose can be: Sparepart, Transfer, Consumption, Other. Vehicle can be specified either by vehicle_id (FK to vehicles table) or vehicle_text (free text), both are optional.",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Stock Transaction"],
        "summary": "Create stock transaction",
        "parameters": [
          {
            "type": "string",
            "description": "Idempotency key for safe retries",
            "name": "X-Idempotency-Key",
            "in": "header"
          },
          {
            "description": "Transaction data",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/stock.CreateStockTransactionRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/stock.StockTransactionResponse"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/stock/transactions/{id}": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get details of a stock transaction",
        "produces": ["application/json"],
        "tags": ["Stock Transaction"],
        "summary": "Get transaction by ID",
        "parameters": [
          {
            "type": "string",
            "description": "Transaction ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/stock.StockTransactionResponse"
                    }
                  }
                }
              ]
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/superadmin/assign-user": {
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Assign a user to a company with a specific role",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Superadmin"],
        "summary": "Assign user to company (Superadmin only)",
        "parameters": [
          {
            "description": "Assignment data",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/superadmin.AssignUserRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/superadmin/companies": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get a paginated list of all companies in the system",
        "produces": ["application/json"],
        "tags": ["Superadmin"],
        "summary": "List all companies (Superadmin only)",
        "parameters": [
          {
            "type": "string",
            "description": "Search by company name or PIC name",
            "name": "search",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 1,
            "description": "Page number",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 10,
            "description": "Items per page",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/superadmin.ListCompaniesResponse"
                    }
                  }
                }
              ]
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Create a new company in the system",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Superadmin"],
        "summary": "Create a new company (Superadmin only)",
        "parameters": [
          {
            "description": "Company data",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/superadmin.CreateCompanyRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/superadmin.CompanyDetailResponse"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/superadmin/companies/{id}": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get detailed information about a specific company",
        "produces": ["application/json"],
        "tags": ["Superadmin"],
        "summary": "Get company by ID (Superadmin only)",
        "parameters": [
          {
            "type": "string",
            "description": "Company ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/superadmin.CompanyDetailResponse"
                    }
                  }
                }
              ]
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Update an existing company",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Superadmin"],
        "summary": "Update a company (Superadmin only)",
        "parameters": [
          {
            "type": "string",
            "description": "Company ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "description": "Updated company data",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/superadmin.UpdateCompanyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/superadmin.CompanyDetailResponse"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Delete a company from the system",
        "produces": ["application/json"],
        "tags": ["Superadmin"],
        "summary": "Delete a company (Superadmin only)",
        "parameters": [
          {
            "type": "string",
            "description": "Company ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/superadmin/dashboard": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get analytics data including total companies, total users, daily transactions per company, and aggregated transactions by company",
        "produces": ["application/json"],
        "tags": ["Superadmin"],
        "summary": "Get superadmin dashboard analytics (Superadmin only)",
        "parameters": [
          {
            "type": "string",
            "format": "date",
            "description": "Start date (YYYY-MM-DD)",
            "name": "date_from",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date",
            "description": "End date (YYYY-MM-DD)",
            "name": "date_to",
            "in": "query"
          },
          {
            "type": "string",
            "format": "uuid",
            "description": "Filter by company ID",
            "name": "company_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/superadmin.DashboardResponse"
                    }
                  }
                }
              ]
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/superadmin/facilities": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "List facilities with optional filter by company and search",
        "produces": ["application/json"],
        "tags": ["Superadmin"],
        "summary": "List all facilities (Superadmin only)",
        "parameters": [
          {
            "type": "string",
            "format": "uuid",
            "description": "Filter by company ID",
            "name": "company_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Search by name/code",
            "name": "search",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by status (active/inactive)",
            "name": "status",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 1,
            "description": "Page number",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 20,
            "description": "Items per page",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/superadmin.ListFacilitiesResponse"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/v1/superadmin/facilities/{id}": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get details of a specific facility",
        "produces": ["application/json"],
        "tags": ["Superadmin"],
        "summary": "Get facility by ID (Superadmin only)",
        "parameters": [
          {
            "type": "string",
            "format": "uuid",
            "description": "Facility ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/superadmin.FacilityDetailResponse"
                    }
                  }
                }
              ]
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/superadmin/facility-skus": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "List facility SKUs with optional filters by company, facility, sku",
        "produces": ["application/json"],
        "tags": ["Superadmin"],
        "summary": "List facility SKUs (Superadmin only)",
        "parameters": [
          {
            "type": "string",
            "format": "uuid",
            "description": "Filter by company ID",
            "name": "company_id",
            "in": "query"
          },
          {
            "type": "string",
            "format": "uuid",
            "description": "Filter by facility ID",
            "name": "facility_id",
            "in": "query"
          },
          {
            "type": "string",
            "format": "uuid",
            "description": "Filter by SKU ID",
            "name": "sku_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Search by description",
            "name": "search",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 1,
            "description": "Page number",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 20,
            "description": "Items per page",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/superadmin.ListFacilitySKUResponse"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/v1/superadmin/stock-on-hand": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "List stock balances with filters (company, facility, sku, status)",
        "produces": ["application/json"],
        "tags": ["Superadmin"],
        "summary": "List stock on hand (Superadmin only)",
        "parameters": [
          {
            "type": "string",
            "format": "uuid",
            "description": "Filter by company ID",
            "name": "company_id",
            "in": "query"
          },
          {
            "type": "string",
            "format": "uuid",
            "description": "Filter by facility ID",
            "name": "facility_id",
            "in": "query"
          },
          {
            "type": "string",
            "format": "uuid",
            "description": "Filter by SKU ID",
            "name": "sku_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by status (available, low, out_of_stock, overstock)",
            "name": "status",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 1,
            "description": "Page number",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 20,
            "description": "Items per page",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/superadmin.ListStockOnHandResponse"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/v1/superadmin/stock-on-hand/download": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Download stock on hand as Excel file with the same filters as list endpoint",
        "produces": [
          "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
        ],
        "tags": ["Superadmin"],
        "summary": "Download stock on hand as Excel (Superadmin only)",
        "parameters": [
          {
            "type": "string",
            "format": "uuid",
            "description": "Filter by company ID",
            "name": "company_id",
            "in": "query"
          },
          {
            "type": "string",
            "format": "uuid",
            "description": "Filter by facility ID",
            "name": "facility_id",
            "in": "query"
          },
          {
            "type": "string",
            "format": "uuid",
            "description": "Filter by SKU ID",
            "name": "sku_id",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 1,
            "description": "Page number",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 20,
            "description": "Items per page",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/api/v1/superadmin/stock/adjustments": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Show adjustment transactions (ADJUST_IN/ADJUST_OUT), optionally filtered by company, facility_sku, or facility. Includes before/after stock if present in notes",
        "produces": ["application/json"],
        "tags": ["Superadmin"],
        "summary": "List stock adjustments (Superadmin)",
        "parameters": [
          {
            "type": "string",
            "format": "uuid",
            "description": "Filter by Company ID",
            "name": "company_id",
            "in": "query"
          },
          {
            "type": "string",
            "format": "uuid",
            "description": "Filter by Facility ID",
            "name": "facility_id",
            "in": "query"
          },
          {
            "type": "string",
            "format": "uuid",
            "description": "Filter by Facility SKU ID",
            "name": "facility_sku_id",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 1,
            "description": "Page number",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 10,
            "description": "Items per page",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/stock.ListStockAdjustmentResponse"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/superadmin/transactions": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "List stock transactions with filters (company, facility, trx_type, date range)",
        "produces": ["application/json"],
        "tags": ["Superadmin"],
        "summary": "List stock transactions (Superadmin only)",
        "parameters": [
          {
            "type": "string",
            "format": "uuid",
            "description": "Filter by company ID",
            "name": "company_id",
            "in": "query"
          },
          {
            "type": "string",
            "format": "uuid",
            "description": "Filter by facility ID",
            "name": "facility_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by trx_type (IN, OUT, ADJUST_IN, ADJUST_OUT)",
            "name": "trx_type",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date",
            "description": "Start date (YYYY-MM-DD)",
            "name": "date_from",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date",
            "description": "End date (YYYY-MM-DD)",
            "name": "date_to",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 1,
            "description": "Page number",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 20,
            "description": "Items per page",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/superadmin.ListTransactionsResponse"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/api/v1/superadmin/transactions/{id}": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get details of a specific stock transaction",
        "produces": ["application/json"],
        "tags": ["Superadmin"],
        "summary": "Get transaction by ID (Superadmin only)",
        "parameters": [
          {
            "type": "string",
            "format": "uuid",
            "description": "Transaction ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/stock.StockTransactionResponse"
                    }
                  }
                }
              ]
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/superadmin/users": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get a paginated list of all users in the system",
        "produces": ["application/json"],
        "tags": ["Superadmin"],
        "summary": "List all users (Superadmin only)",
        "parameters": [
          {
            "type": "string",
            "description": "Search by email, first name, or last name",
            "name": "search",
            "in": "query"
          },
          {
            "type": "string",
            "format": "uuid",
            "description": "Filter by company ID",
            "name": "company_id",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 1,
            "description": "Page number",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 10,
            "description": "Items per page",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/superadmin.ListUsersResponse"
                    }
                  }
                }
              ]
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Create a new user in the system",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Superadmin"],
        "summary": "Create a new user (Superadmin only)",
        "parameters": [
          {
            "description": "User data",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/superadmin.CreateUserRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/superadmin.UserDetailResponse"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/superadmin/users/{id}": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get detailed information about a specific user",
        "produces": ["application/json"],
        "tags": ["Superadmin"],
        "summary": "Get user by ID (Superadmin only)",
        "parameters": [
          {
            "type": "string",
            "description": "User ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/superadmin.UserDetailResponse"
                    }
                  }
                }
              ]
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Update an existing user",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Superadmin"],
        "summary": "Update a user (Superadmin only)",
        "parameters": [
          {
            "type": "string",
            "description": "User ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "description": "Updated user data",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/superadmin.UpdateUserRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/superadmin.UserDetailResponse"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Delete a user from the system",
        "produces": ["application/json"],
        "tags": ["Superadmin"],
        "summary": "Delete a user (Superadmin only)",
        "parameters": [
          {
            "type": "string",
            "description": "User ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/superadmin/users/{user_id}/companies": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get all companies that a user has access to",
        "produces": ["application/json"],
        "tags": ["Superadmin"],
        "summary": "Get user's companies (Superadmin only)",
        "parameters": [
          {
            "type": "string",
            "description": "User ID",
            "name": "user_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/helper.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/superadmin.UserCompaniesResponse"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/superadmin/users/{user_id}/companies/{company_id}": {
      "delete": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Remove a user's access from a company",
        "produces": ["application/json"],
        "tags": ["Superadmin"],
        "summary": "Remove user from company (Superadmin only)",
        "parameters": [
          {
            "type": "string",
            "description": "User ID",
            "name": "user_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Company ID",
            "name": "company_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/helper.Response"
            }
          }
        }
      }
    },
    "/api/v1/users": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get a paginated list of users that have access to the current company",
        "produces": ["application/json"],
        "tags": ["User"],
        "summary": "List users in company",
        "parameters": [
          {
            "type": "integer",
[...]
